<nav>
  <div class="nav-wrapper">

    <div class="center support-name">NV Attendance Logger</div>

    <a materialize="sideNav" href="javascript:void(0)" data-activates="mobile-drawer" class="button-collapse"><i class="material-icons">menu</i></a>

    <ul class="right hide-on-med-and-down">
      <li><a href="javascript:void(0);">Logout</a></li>
      <li><a href="javascript:void(0);">Other link</a></li>
    </ul>

    <ul class="side-nav" id="mobile-drawer">
      <li><a href="javascript:void(0);">Logout</a></li>
      <li><a href="javascript:void(0);">Other link</a></li>
    </ul>
  </div>
</nav>


<ul class="collection">
  <li class="collection-item avatar" *ngFor="let support of (supportsByLead$ | async);">
    <div (click)="onSupportSelect(support)">
      <i class="material-icons circle grey">assignment</i>
      <span class="title">{{support.name}}</span>
      <p>
        {{getHuman(support.category)}}
        <br> {{support.location}}
      </p>
      <a href="javascript:void(0)" class="secondary-content" (click)="onSupportSelect(support)"><i class="material-icons">chevron_right</i></a>
    </div>
  </li>
</ul>