<app-secondary-nav [support]="activeSupport"></app-secondary-nav>

<div class="section">
  <div class="row">
    <!-- Make responsive, full size on mobile, otherwise ~80% -->
    <div class="col s12 m10 offset-m1">
      <p>{{activeSupport.description}}</p>
      <p>
        <b>Summary</b>
        <br><span class="left">Cat: </span><span class="right">{{getHuman(activeSupport.category)}}</span>
        <br><span class="left">Location: </span><span class="right">{{activeSupport.location}}</span>
        <br><span class="left">Time: </span><span class="right">{{activeSupport.schedule.startTime}}</span>
        <br><span class="left">Days of week: </span><span class="right">~coming soon~</span>
        <br><span class="left">Start Date: </span><span class="right">{{getDateString(activeSupport.schedule.startsOn)}}</span>
        <br><span class="left">End Date: </span><span class="right">{{getDateString(activeSupport.schedule.endsOn)}}</span>
      </p>
    </div>
  </div>
</div>

<hr>

<div class="section">
  <div class="row">
    <!-- Make responsive, full size on mobile, otherwise ~80% -->
    <div class="col s12 m10 offset-m1">
      <div>
        <b>Students</b>
        <br><span class="left">Active Count: </span><span class="right">~coming soon~</span>
        <br><span class="left">Concluded Count: </span><span class="right">~coming soon~</span>
        <br><span class="left">Incoming Count: </span><span class="right">~coming soon~</span>
      </div>

      <div class="attend-btn center">
        <button (click)="onTakeAttendanceClick(activeSupport)" class="btn btn-large waves-effect waves-light">Take Attendance</button>
      </div>

    </div>
  </div>
</div>

<hr>

<div class="section">
  <div class="row">
    <!-- Make responsive, full size on mobile, otherwise ~80% -->
    <div class="col s12 m10 offset-m1">
      <div>
        <b>Attendance History</b>
        <p>~Coming soon~</p>
        <br><i>% attended % absent % late by day roll-up here</i>
        <br><i>Allow user to click to either view student-level details or edit a previous submission</i>
      </div>
    </div>
  </div>
</div>
