.support-name {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0;
  white-space: nowrap;
}

nav .support-name.center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.back-button{
  margin-left: 18px;
  margin-right: 18px;
}